* {
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #e5e5e5;
}

.root {
    -fx-background-color: #141414;
}

.vbox {
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-alignment: center;
    -fx-background-color: #141414;
    -fx-border-color: #303030;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 5, 5);
}

.hbox {
    -fx-padding: 15px;
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-background-color: #141414;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 7, 0, 3, 3);
}

.date-picker {
    -fx-font-size: 14pt;
    -fx-pref-width: 200px;
    -fx-background-color: #303030;
    -fx-border-color: #e50914;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 2, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.date-picker:hover {
    -fx-border-color: #b20710;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 2, 2);
}

.date-picker:focused {
    -fx-border-color: #e50914;
    -fx-background-color: #303030;
}

.button {
    -fx-font-size: 16pt;
    -fx-pref-width: 200px;
    -fx-padding: 10px 30px;
    -fx-background-color: #e50914;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 2, 2);
    -fx-transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.button:hover {
    -fx-background-color: #b20710;
    -fx-transform: scale(1.05);
}

.button:pressed {
    -fx-background-color: #e50914;
    -fx-transform: scale(0.95);
}

.button:focused {
    -fx-border-color: #e50914;
}

.tooltip {
    -fx-font-size: 12pt;
    -fx-background-color: #303030;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 3, 0, 1, 1);
}

.text-field {
    -fx-font-size: 14pt;
    -fx-pref-width: 200px;
    -fx-background-color: #303030;
    -fx-border-color: #e50914;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 2, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.text-field:hover {
    -fx-border-color: #b20710;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 2, 2);
}

.text-field:focused {
    -fx-border-color: #e50914;
    -fx-background-color: #303030;
}

.label {
    -fx-font-size: 16pt;
    -fx-text-fill: #e5e5e5;
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 1, 1);
}

.label.section-header {
    -fx-font-size: 20pt;
    -fx-text-fill: #e50914;
    -fx-padding: 15px 0;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0, 2, 2);
    -fx-underline: true;
}

.table-view {
    -fx-font-size: 14pt;
    -fx-background-color: #282828;
    -fx-border-color: #e50914;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 2, 2);
}

.table-view .column-header {
    -fx-background-color: #282828;
    -fx-border-color: #e50914;
}

.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-border-color: #e50914;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 10px;
    -fx-text-fill: #FFFFFF;
}

.table-view .column-header-background {
    -fx-background-color: #282828;
}

.table-view .table-row-cell {
    /*-fx-border-color: #e50914;*/
    -fx-border-width: 0 0 1px 0;
    -fx-background-color: #282828;
    -fx-text-fill: #e5e5e5;
}

.table-view .table-cell {
    -fx-background-color: #282828;
    -fx-border-color: #e50914;
}

.table-view .table-row-cell:focused,
.table-view .table-row-cell:selected {
    -fx-background-color: #383838;
    -fx-text-fill: #e5e5e5;
}

.table-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-max-height: 0;
}

/**
.scroll-bar .thumb {
    -fx-background-color: #282828;
}

.scroll-bar {
    -fx-background-color: #e50914;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .track {
    -fx-background-color: #282828;
}

.scroll-bar .thumb {
    -fx-background-radius: 5;
    -fx-border-color: #282828;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-radius: 5;
    -fx-border-color: #e50914;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}
**/

.table-view .separator {
    -fx-background-color: #282828;
}

.menu-bar {
    -fx-background-color: #282828;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 2, 2);
}

.menu-bar .label {
    -fx-text-fill: #e5e5e5;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.menu-bar .menu {
    -fx-background-color: #282828;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 2, 2);
}

.menu-bar .menu:hover {
    -fx-background-color: #383838;
}

.menu-item {
    -fx-font-size: 14pt;
    -fx-padding: 10px 20px;
    -fx-transition: background-color 0.3s ease-in-out;
    -fx-text-fill: #e5e5e5;
}

.menu-item:hover {
    -fx-background-color: #383838;
}

.dialog-pane {
    -fx-background-color: #282828;
    -fx-border-color: #e50914;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 6, 0, 3, 3);
}

.dialog-pane .content {
    -fx-font-size: 14pt;
    -fx-text-fill: #e5e5e5;
}

.dialog-pane .button-bar .button {
    -fx-font-size: 14pt;
    -fx-background-color: #e50914;
    -fx-text-fill: #181818;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 3, 0, 2, 2);
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: #b20710;
}

.dialog-pane .button-bar .button:pressed {
    -fx-background-color: #e50914;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 20pt;
    -fx-text-fill: #e50914;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0, 2, 2);
}